!!! 5
%html
	%head
		%meta{:charset => 'utf-8'}
		%title Timetable
		%link{ :rel => 'stylesheet', :href => 'https://www.marienschule-opladen.com/assets/application-d656bd2c98d8ece7f13709caa279c8a2.css' }
		%link{ :rel => 'stylesheet', :href => 'timetable.css' }
		%script{ :src => 'http://code.jquery.com/jquery-1.11.1.min.js' }
		%script{ :src => 'timetable.js' }
	%body
		%table.timetable
			%thead
				%tr
					- %w(# Montag Dienstag Mittwoch Donnerstag Freitag).each do |i|
						%th= i
			%tbody
				- subjects = []
				- subjects << {name: 'Englisch', abb: 'E', course: 1}
				- subjects << {name: 'Deutsch', abb: 'D', course: 2}
				- subjects << {name: 'Mathematik', abb: 'M', course: 3}
				- subjects << {name: 'Erdkunde', abb: 'Ek', course: 4}
				- subjects << {name: 'Literatur', abb: 'Li', course: 5}
				- subjects << {name: 'Informatik', abb: 'If', course: 6}
				- subjects << {name: 'Französisch', abb: 'F', course: 7}
				- subjects << {name: 'Spanisch', abb: 'S', course: 8}
				- subjects << {name: 'Sport', abb: 'Sp', course: 9}
				- subjects << {name: 'Politik', abb: 'Pk', course: 10}
				- 10.times do |i|
					%tr
						%td= i
						- 5.times do
							%td
								- rand(1..5).times do
									- subject = subjects.sample
									.lesson{ :'data-course-id' => subject[:course], :class => "subject-#{subject[:abb]}"}
										.subject= subject[:name]
										.teacher Lehrername
										.room Raum #{rand(700)}