.timetable {
	width: 960px;
	//background: #7F5959;
}

.timetable th, .timetable td {
	text-align: center;
}

.lesson {
	background: #B2C6F4;
	-webkit-transition: all 0.5s linear; /* Firefox */
	-moz-transition: all 0.5s linear; /* WebKit */
	-o-transition: all 0.5s linear; /* Opera */
	transition: all 0.5s linear; /* Standard */
}

$subject-Ek: #A1A506;
.subject-Ek											{ background: $subject-Ek; }
.subject-Ek.timetable-active		{ background: darken($subject-Ek, 15%); }

$subject-Pk: #0082C4;
.subject-Pk											{ background: $subject-Pk; }
.subject-Pk.timetable-active		{ background: darken($subject-Pk, 15%); }

$subject-Mu: #DF574B;
.subject-Mu											{ background: $subject-Mu; }
.subject-Mu.timetable-active		{ background: darken($subject-Mu, 15%); }

$subject-E: #4725B3;
.subject-E											{ background: $subject-E; }
.subject-E.timetable-active			{ background: darken($subject-E, 15%); }

$subject-Bi: #A4E675;
.subject-Bi											{ background: $subject-Bi; }
.subject-Bi.timetable-active		{ background: darken($subject-Bi, 15%); }

$subject-Ge: #0066A7;
.subject-Ge											{ background: $subject-Ge; }
.subject-Ge.timetable-active		{ background: darken($subject-Ge, 15%); }

$subject-S: #F4A20C;
.subject-S											{ background: $subject-S; }
.subject-S.timetable-active			{ background: darken($subject-S, 15%); }

$subject-F: #A40603;
.subject-F											{ background: $subject-F; }
.subject-F.timetable-active			{ background: darken($subject-F, 15%); }

$subject-Li: #90C1FB;
.subject-Li											{ background: $subject-Li; }
.subject-Li.timetable-active		{ background: darken($subject-Li, 15%); }

$subject-If: #7D86A5;
.subject-If											{ background: $subject-If; }
.subject-If.timetable-active		{ background: darken($subject-If, 15%); }

$subject-L: #39BF5C;
.subject-L											{ background: $subject-L; }
.subject-L.timetable-active			{ background: darken($subject-L, 15%); }

$subject-OrMs: #F3F3F3;
.subject-OrMs										{ background: $subject-OrMs; }
.subject-OrMs.timetable-active	{ background: darken($subject-OrMs, 15%); }

$subject-ER: #E2782B;
.subject-ER											{ background: $subject-ER; }
.subject-ER.timetable-active		{ background: darken($subject-ER, 15%); }

$subject-KR: #E2782B;
.subject-KR											{ background: $subject-KR; }
.subject-KR.timetable-active		{ background: darken($subject-KR, 15%); }

$subject-M: #09155C;
.subject-M											{ background: $subject-M; }
.subject-M.timetable-active			{ background: darken($subject-M, 15%); }

$subject-D: #660500;
.subject-D											{ background: $subject-D; }
.subject-D.timetable-active			{ background: darken($subject-D, 15%); }

$subject-PaUn: #D9E1F2;
.subject-PaUn										{ background: $subject-PaUn; }
.subject-PaUn.timetable-active	{ background: darken($subject-PaUn, 15%); }

$subject-Ch: #CCD311;
.subject-Ch											{ background: $subject-Ch; }
.subject-Ch.timetable-active		{ background: darken($subject-Ch, 15%); }

$subject-Ph: #5C7300;
.subject-Ph											{ background: $subject-Ph; }
.subject-Ph.timetable-active		{ background: darken($subject-Ph, 15%); }

$subject-Sp: #F8BC3A;
.subject-Sp											{ background: $subject-Sp; }
.subject-Sp.timetable-active		{ background: darken($subject-Sp, 15%); }
