.timetable {
  width: 960px; }

.timetable th, .timetable td {
  text-align: center; }

.lesson {
  background: #B2C6F4;
  -webkit-transition: all 0.5s linear;
  /* Firefox */
  -moz-transition: all 0.5s linear;
  /* WebKit */
  -o-transition: all 0.5s linear;
  /* Opera */
  transition: all 0.5s linear;
  /* Standard */ }

.subject-Ek {
  background: #a1a506; }

.subject-Ek.timetable-active {
  background: #595b03; }

.subject-Pk {
  background: #0082c4; }

.subject-Pk.timetable-active {
  background: #004f78; }

.subject-Mu {
  background: #df574b; }

.subject-Mu.timetable-active {
  background: #bc2e21; }

.subject-E {
  background: #4725b3; }

.subject-E.timetable-active {
  background: #2e1874; }

.subject-Bi {
  background: #a4e675; }

.subject-Bi.timetable-active {
  background: #79da34; }

.subject-Ge {
  background: #0066a7; }

.subject-Ge.timetable-active {
  background: #00375a; }

.subject-S {
  background: #f4a20c; }

.subject-S.timetable-active {
  background: #ac7208; }

.subject-F {
  background: #a40603; }

.subject-F.timetable-active {
  background: #590302; }

.subject-Li {
  background: #90c1fb; }

.subject-Li.timetable-active {
  background: #4698f8; }

.subject-If {
  background: #7d86a5; }

.subject-If.timetable-active {
  background: #57607e; }

.subject-L {
  background: #39bf5c; }

.subject-L.timetable-active {
  background: #278440; }

.subject-OrMs {
  background: #f3f3f3; }

.subject-OrMs.timetable-active {
  background: #cdcdcd; }

.subject-ER {
  background: #e2782b; }

.subject-ER.timetable-active {
  background: #a95517; }

.subject-KR {
  background: #e2782b; }

.subject-KR.timetable-active {
  background: #a95517; }

.subject-M {
  background: #09155c; }

.subject-M.timetable-active {
  background: #020516; }

.subject-D {
  background: #660500; }

.subject-D.timetable-active {
  background: #1a0100; }

.subject-PaUn {
  background: #d9e1f2; }

.subject-PaUn.timetable-active {
  background: #a0b4de; }

.subject-Ch {
  background: #ccd311; }

.subject-Ch.timetable-active {
  background: #888c0b; }

.subject-Ph {
  background: #5c7300; }

.subject-Ph.timetable-active {
  background: #1f2700; }

.subject-Sp {
  background: #f8bc3a; }

.subject-Sp.timetable-active {
  background: #de9a08; }
